@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

:root {
  /*colors*/
  --primary: #0025aa;
  --secondary: #03008b;
  --white: #fff;
  --grey: #e2e2e2;
  --grey-2: #5d5d5d;
  --red: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(var(--primary), var(--secondary));
}
